[submodule "turtle_race"]
	path = turtle_race
	url = https://github.com/arlicto/turtle_race.git
[submodule "diabetesPrediction"]
	path = diabetesPrediction
	url = https://github.com/arlicto/diabetesPrediction.git
[submodule "rock-vs-mine-prediction"]
	path = rock-vs-mine-prediction
	url = https://github.com/arlicto/rock-vs-mine-prediction.git
[submodule "guess-the-number"]
	path = guess-the-number
	url = https://github.com/arlicto/guess-the-number.git
[submodule "higher-lower-game"]
	path = higher-lower-game
	url = https://github.com/arlicto/higher-lower-game.git
[submodule "love-calculator"]
	path = love-calculator
	url = https://github.com/arlicto/love-calculator.git
[submodule "blackjack"]
	path = blackjack
	url = https://github.com/arlicto/blackjack.git
[submodule "caesar-cipher"]
	path = caesar-cipher
	url = https://github.com/arlicto/caesar-cipher.git
